@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

:root {
    --control-color: hsla(0, 0%, 85%, 0.9);
    --control-highlight-color: hsla(0, 0%, 95%, 0.9);

    --radial-color: hsla(0, 0%, 75%, 0.9);
    --radial-pressed-color: hsla(0, 0%, 65%, 0.9);
    --radial-pressed-shadow-color: hsla(0, 0%, 55%, 0.9);
    --radial-hover-color: hsla(0, 0%, 60%, 0.9);
    --radial-hover-shadow-color: hsla(0, 0%, 50%, 0.9);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;

    background-color: hsl(0, 0%, 75%);
    font-family: Roboto;
    overflow: hidden;
}

#particle-canvas {
    position: absolute;
}



.controls {
    position: absolute;
    height: 100%;

    display: flex;
    flex-flow: column wrap;
}

.container {
    margin: 16px;
    padding: 0 16px;
    min-height: 40px;

    border-radius: 20px;
    background-color: var(--control-color);
    user-select: none;
    transition: 0.1s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container.column {
    padding: 4px 16px;
    flex-flow: column;
}

.container.button:hover {
    background-color: var(--control-highlight-color);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 24px;
    height: 24px;
    margin: 4px;

    cursor: pointer;
    border-radius: 12px;
    background-color: var(--radial-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.arrow:hover {
    background-color: var(--radial-hover-color);
    box-shadow: 0 3px var(--radial-hover-shadow-color) inset;
}

#shape-name {
    width: 64px;
    text-align: center;
}

.color-display {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 10px;

    box-sizing: border-box;
    background-color: hsl(0, 0%, 75%);
    border: 2px solid white;
    outline: 1px solid black;
}

.radial {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.radial .option {
    width: 24px;
    height: 24px;
    margin: 4px;

    border-radius: 12px;
    background-color: var(--radial-color);
    transition: 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.radial .option.active {
    background-color: var(--radial-pressed-color);
    box-shadow: 0 3px var(--radial-pressed-shadow-color) inset;
}

.radial .option:hover {
    background-color: var(--radial-hover-color);
    box-shadow: 0 3px var(--radial-hover-shadow-color) inset;
}

.value {
    width: 36px;
    height: 24px;
    margin: 4px;

    border-radius: 12px;
    border: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.switch {
    width: 32px;
    height: 24px;
    margin: 4px;

    border-radius: 12px;
    background-color: #ff1f1f;
    transition: 0.2s;
    cursor: pointer;
}

.switch .knob {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 4px;
    left: 0;

    border-radius: 8px;
    background-color: var(--control-color);
    transition: 0.2s;
}

.switch.active {
    background-color: #1fbf1f;
}

.switch.active .knob {
    left: 8px;
}

.tooltip {
    opacity: 0.5;
    text-decoration: underline;
}



.thanks-flex {
    position: absolute;
    width: 100%;
    height: calc(100% - 8px);

    pointer-events: none;
}

.thanks {
    position: absolute;
    right: 12px;
    bottom: 8px;

    display: flex;
    flex-direction: column;
}

.thanks em {
    margin: 2px;
    opacity: 0.75;
    text-align: right;
}

.thanks em a {
    color: black;
}